table {
    margin-top: 15px;
}

.img-circle {
    max-height: 50px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.messages-wrapper {
    background-color: #ffffff;
    border-radius: 7px;
}

.spacing {
height: 25px;
}